@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Display:wght@500&family=Varela+Round&display=swap');

#app {
  font-weight: 600;
  font-style: normal;
  color: white;
}
body {
  background-color: #222831;
  font-family: 'Varela Round', sans-serif;
}
